{% load static %}
<div class="container--nav">
  <nav class="position-relative d-flex align-items-center nav--main">
    <ul class="d-flex justify-content-between align-items-center w-100">
      <div class="hamburger">
        <div></div>
        <div></div>
        <div></div>
      </div>
      <div class="logo--nav h-100">
        <!-- <img src="{% static 'image/logo.png' %}" alt="" /> -->
        <a href="{% url 'home_page' %}"
          ><img src="{% static 'image/logo.png' %}" alt=""
        /></a>
      </div>
      <div class="d-flex align-items-center middle--nav">
        <li><a href="{% url 'home_page' %}">Home</a></li>
        <li><a href="{% url 'collection' %}">Shop</a></li>
        <li>Products</li>
        <div class="align-items-center justify-content-center close--btn">
          <i class="far fa-chevron-left"></i>
        </div>
      </div>
      <div class="d-flex align-items-center options--nav">
        <li class="search--button"><i class="far fa-search"></i></li>
        {% if isAuthenticated %}
        <li class="cart-action">
          <i class="far fa-shopping-cart"></i>
        </li>
        {% endif %}
        <li>
          <a href="{% url 'sign-in' %}"><i class="far fa-user"></i></a>
        </li>
        <li>
          <a href=""><i class="far fa-star"></i></a>
        </li>
        {% if isAuthenticated %}
        <li>
          <a href="{% url 'logout' %}"><button class="btn-item">Sign out</button></a>
        </li>
        {% endif %}
        <!-- <li class="btn-darkmode">
          <span class="button-dark"></span>
          <i class="far fa-moon"></i>
        </li> -->
      </div>
    </ul>
  </nav>
</div>
