{% extends 'base.html' %}
{% load static %}

{% block css %} <link rel="stylesheet" href="{% static 'scss/checkout.css' %}"> {% endblock %}
{% block title %} Checkout {% endblock %}

{% block main %} 
    {% include 'include/header.html' with header_title='Checkout' %}
    <main class="container line-down">
        <form action="{% url 'submit' %}" method="post" class="grid-form">
            {% csrf_token %}
            <div class="d-flex flex-column information-user">
                <h3>User Information</h3>
                <div class="form--inside">
                    <label for="contact">Contact Information</label>
                    <input value="{{ basic_information.email }}" name="contact" type="text" id="contact" placeholder="Email or phone number" required>
                </div>
                <div class="form--inside">
                    <label for="">Shipping Address</label>
                    <input type="text" id="" placeholder="Name" value="{{ basic_information.last_name }}" name="name" required>
                    <div class="form-input d-flex flex-column">
                        <input type="text" placeholder="Address" name="address" required>
                        <input type="text" placeholder="City" name="city" required>
                        <input type="hidden" value="abc" name="country">
                        <div class="d-flex justify-content-between align-items-center input--name">
                            <div class="list--country position-relative">
                                <i class="far fa-angle-down"></i>
                                <p class="title-box">Country/Region</p>
                                <!-- <ul class="list-country position-relative">
                                    
                                </ul> -->
                            </div>
                            <input type="text" placeholder="Postal Code" name="code" required/>
                        </div>
                        <input type="number" placeholder="Phone Number" name="phone" required>
                    </div>
                </div>
            </div>
            <div class="cart-user">
                {% if not cart_user %}
                    <p>No Product In Cart!</p>
                {% else %}
                    {% for item in cart_user %}
                    <div class="cart-item-user d-flex align-items-center justify-content-between">
                        <div class="d-flex align-items-center">
                            <div class="image-item position-relative">
                                <img src="{{ item.item.image.url }}" alt="">
                                <span class="d-flex justify-content-center align-items-center rounded-circle">{{ item.quantity }}</span>
                            </div>
                            <p style="text-transform: capitalize;" class="title-item">{{ item.item.title }}</p>
                        </div>
                        <p class="price--item">${{ item.item.price }}</p>
                    </div>
                    {% endfor %}
                {% endif %}
                <div class="total-price">
                    <div class="d-flex justify-content-between align-items-center">
                        <p>Subtotal</p>
                        <p>${{ total }}</p>
                    </div>
                    <div class="d-flex justify-content-between align-items-center">
                        <p>Discount</p>
                        <p>$0.00</p>
                    </div>
                    <div class="d-flex justify-content-between align-items-center">
                        <p>Total</p>
                        <p>${{ total }}</p>
                    </div>
                    <div class="text-end mt-3">
                        <button type="submit" class="btn-item">Checkout</button>
                    </div>
                </div>
            </div>
        </form>
    </main>
{% endblock %}
{% block script %}
    <script src="{% static 'dist/bundle.js' %}"></script>
{% endblock %}