{% extends 'base.html' %}
{% load static %}

{% block title %} Collection {% endblock %}
{% block css %} <link rel="stylesheet" href="{% static '/scss/collection.css' %}"> {% endblock %}
{% block main %} 

    {% include 'include/header.html' with  header_title="Collection" %}
    
    <div class="container container--collections line-down">
       <div class="grid-products">
           {% for product in products %}
           <div class="product-container">
                <div class="image-product position-relative">
                    <img src="{{ product.image.url }}" alt="">
                    <div class="options-product">
                        <a href="{% url 'add-to-cart' product.id%}"><span><i class="fal fa-shopping-cart"></i></span></a>
                    </div>
                </div>
                <div class="product-content text-center">
                    <a href="{{product.slug}}">{{ product.title }}</a>
                    <p>${{ product.price }}</p>
                </div>
            </div>
           {% endfor %}
       </div>
       <ul class="pagination_items">
        {% if has_previous_page %}<li><a href="?page=1"><i class="far fa-angle-double-left"></i></a></li>{% endif %}
        {% for value in range_pagination %} 
            <li class="{% if value == current_page %}active-pagination{%endif%}"><a href="?page={{ value }}">{{value}}</a></li>
        {% endfor %}
        {% if has_next_page %}<li><a href="?page={{ next_page }}"><i class="far fa-angle-double-right"></i></a></li>{% endif %}
   </ul>
    </div>
{% endblock %}
