{% extends 'base.html' %}
{% load static %}
{% block title %} Home Page {% endblock %}
{% block css %} 
  <link rel="stylesheet" href="{% static 'scss/index.css' %}"> 
{% endblock %}
{% block main %}

    <div class="container container--items line-down">
      <div class="row align-items-center row--landing">
        <div data-aos="fade-right" class="col-xs-12 col-sm-12 col-md-6 col-lg-6 left-landing">
          <h1 class="d-flex align-items-center"><span>HOT</span> 25% off everything (yes, everything!) 🔥</h2>
          <h2>Why plants make you happy</h1>
          <a href=""><button class="button">Shop Collection</button></a>
        </div>
        <div data-aos="fade-left" class="col-xs-12 col-sm-12 col-md-12 col-lg-6 right-landing">
          <img src="{% static 'image/banner.jpeg' %}" alt="" />
        </div>
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-6 right-landing"></div>
      </div>
    </div>
    <div class="container container--outdoor line-down">
        <div class="grid-column">
        <div data-aos="fade-up" class="left--grid">
          <img src="{% static 'image/banner-image.jpeg' %}" alt="">
        </div>
        <div data-aos="fade-down" class="outdoor-right">
          <h5>Fresh finds</h5>
          <h3>Deck Out Your Patio This Summer</h3>
          <p>With eye-catching annual flowers and foliage you won’t find
            anywhere else, you can mix and match our vibrant container
            gardens to create beautiful gardens of any size.</p>
          <a href=""><button class="btn-item">Shop Indoor</button></a>
        </div>
      </div>
    </div>
    <div data-aos="fade-up" class="container container--swiper line-down text-center">
      <h4>Perfect Plants</h4>
      <h6>New Products</h6>
      <!-- Slider main container -->
      <div class="swiper">
        <!-- Additional required wrapper -->
        <div class="swiper-wrapper">
          <!-- Slides -->
          {% for product in products %}
              <div class="swiper-slide">
                <img src="{{ product.image.url }}" alt="">
                <div class="swiper-options">
                  <a href="">{{ product.title }}</a>
                  <p>{{ product.price }}</p>
                </div>
              </div>
            {% endfor %}
        </div>
        <!-- If we need pagination -->
        <div class="swiper-pagination"></div>
        <!-- If we need navigation buttons -->
        <div class="swiper-button-prev"></div>
        <div class="swiper-button-next"></div>
    </div>
    </div>
    <div class="container container--outdoor container-bundle line-down">
      <div class="grid-column">
        <div data-aos="fade-right" class="left-bundle">
          <h5>Bundle & Save</h5>
          <h2>Build Your Own Basket From $100</h2>
          {% for item in item_everyday %}
          <div class="line-product d-flex align-items-center">
            <span>{{forloop.counter}}</span>
            <img src="{{ item.image.url }}" alt="">
            <a href="">{{ item.title }}</a>
            <p>${{ item.price }}</p>
          </div>
          {% endfor %}
          <button class="btn-item w-100">Add To Cart</button>
        </div>
        <div data-aos="zoom-in" class="right-bundle">
          <img src="{% static 'image/banner-2.jpeg' %}" alt="">
        </div>
      </div>
    </div>
    <div data-aos="fade-up" class="container container-distribute text-center line-down">
      <h4>The Pruning Scissors</h4>
      <a href="">Shop Collection</a>
      <div class="image-container">
        <img src="{% static 'image/banner-3.jpeg' %}" alt="">
      </div>
    </div>
{% endblock %}
    {% block script %}
    <script src="{% static 'dist/index.js' %}"></script>
    <script type="module">
      import Swiper from 'https://unpkg.com/swiper@7/swiper-bundle.esm.browser.min.js'
    
      const swiper = new Swiper('.swiper', {
      // Optional parameters
      loop: true,
        autoplay: {
          delay: 5000
        },
      // If we need pagination
      pagination: {
        el: '.swiper-pagination',
      },
      // Navigation arrows
      navigation: {
        nextEl: '.swiper-button-next',
        prevEl: '.swiper-button-prev',
      },
      breakpoints: {
        200: {
          slidesPerView: 1,
          spaceBetween: 0
        },
        576: {
          slidesPerView: 2,
          spaceBetween: 10
        },
        768: {
          slidesPerView: 3,
          spaceBetween: 20
        },
        991: {
          slidesPerView: 4,
          spaceBetween: 25
        }
      }
    });
    </script>
    {% endblock %}