@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300&family=Poppins:wght@300&display=swap");
:root {
  --white: #fff;
  --black-primary: #000000;
  --brown: #c67d4e;
  --border-color: #ddd;
  --light-gray: #666666;
  --xs-fs: 12px;
  --sm-fs: 14px;
  --md-fs: 16px;
  --lg-fs: 18px;
  --fs-heading: 40px;
  --sm-space: 15px;
  --md-space: 20px;
  --lg-space: 25px;
  --space: 40px;
  --space: 80px;
  --space-bottom: 70px;
  --weight-700: 700;
  --weight-800: 800;
  --weight-900: 900;
  --small-size: 20px;
  --medium-size: 30px;
  --large-size: 40px;
  --primary-shadow: 0px 2px 8px rgba(0, 0, 0, .16);
  --secondary-shadow: 0px 20px 40px rgba(0, 0, 0, .2);
  --footer-background: #fbf5ef;
}

* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  overflow-x: hidden;
}

a {
  text-decoration: none;
  color: var(--black-primary);
}

.search--box {
  padding: var(--medium-size);
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
  -webkit-box-shadow: var(--primary-shadow);
          box-shadow: var(--primary-shadow);
  position: fixed;
  top: 0;
  z-index: 200;
  background: var(--white);
  -webkit-transform: translateY(-100%);
          transform: translateY(-100%);
  opacity: 0;
}

.search--box input {
  width: 100%;
  padding: 10px 40px 10px 20px;
  outline: none;
  border: 1px solid var(--border-color);
  border-radius: 5px;
}

.search--box .submit--search {
  position: absolute;
  right: 0;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  height: 100%;
  width: var(--medium-size);
}

.search--box--back {
  -webkit-transform: translateY(0);
          transform: translateY(0);
  opacity: 1;
}

.container--nav {
  position: fixed;
  top: 0;
  width: 100%;
  -webkit-box-shadow: var(--primary-shadow);
          box-shadow: var(--primary-shadow);
  z-index: 101;
  background: var(--white);
}

.nav--main {
  height: 80px;
}

.nav--main .logo--nav {
  width: 100px;
  height: 75px;
}

.nav--main .logo--nav img {
  width: 100%;
  height: auto;
}

.nav--main ul {
  list-style: none;
  margin-bottom: 0;
  padding-left: 0;
}

.nav--main ul li {
  font-weight: var(--weight-700);
  margin-left: 40px;
}

.nav--main ul li:first-child {
  margin-left: 0;
}

.nav--main ul i {
  cursor: pointer;
}

.nav--main .middle--nav {
  font-size: var(--md-fs);
}

.nav--main .middle--nav li {
  padding-bottom: 5px;
  position: relative;
}

.nav--main .middle--nav li::before, .nav--main .middle--nav li::after {
  position: absolute;
  content: "";
  top: 100%;
  height: 2px;
  left: 0;
  width: 0;
  background: var(--brown);
  opacity: 0;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.nav--main .middle--nav li::after {
  right: 0;
  left: auto;
  background: var(--brown);
  width: 0;
}

.nav--main .middle--nav li:hover::before, .nav--main .middle--nav li:hover::after {
  opacity: 1;
  width: 50%;
}

.nav--main a {
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.nav--main a:hover {
  color: var(--brown);
}

.nav--main .close--btn {
  display: none;
}

.nav--main .hamburger {
  width: var(--medium-size);
  height: var(--medium-size);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  display: none;
  cursor: pointer;
}

.nav--main .hamburger div {
  width: 20px;
  height: 2px;
  background: var(--black-primary);
  margin-bottom: 3px;
  -webkit-transition: all 0.35s ease;
  transition: all 0.35s ease;
}

.nav--main .hamburger div:nth-of-type(2n) {
  width: 15px;
}

.nav--main .hamburger:hover div {
  background: var(--brown);
}

.nav--main .hamburger:hover div:nth-of-type(n) {
  width: 15px;
}

.nav--main .hamburger:hover div:nth-last-of-type(2n) {
  width: 20px;
}

.nav--main .options--nav li {
  margin-left: 20px !important;
}

.overlay, .second-model, .cart-model {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.5);
  z-index: 101;
  display: none;
}

.block--overlay {
  display: block;
}

.line-down {
  margin-bottom: var(--space-bottom);
}

.btn-item {
  padding: 10px 20px;
  border: none;
  outline: none;
  background: var(--brown);
  font-weight: bold;
  font-size: var(--md-fs);
  text-transform: capitalize;
  border-radius: 4px;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
  color: var(--white);
}

.btn-item:hover {
  -webkit-box-shadow: var(--primary-shadow);
          box-shadow: var(--primary-shadow);
}

.footer-container {
  padding: 100px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[5];
      grid-template-columns: repeat(5, 1fr);
  gap: 70px;
  background: var(--footer-background);
}

.footer-container img {
  width: 100px;
  height: auto;
}

.footer-container ul {
  list-style: none;
  padding-left: 0;
  line-height: 40px;
}

.footer-container ul li {
  font-weight: bold;
}

.footer-container .first-footer {
  grid-column: span 2;
  line-height: 40px;
}

.footer-container .first-footer h3 {
  margin: 0;
  padding: var(--lg-space) 0;
  font-size: 25px;
  font-weight: bold;
  text-transform: capitalize;
}

.footer-container .first-footer p {
  font-size: var(--md-fs);
}

.footer-container .first-footer form {
  position: relative;
}

.footer-container .first-footer form input {
  width: 100%;
  padding: 10px var(--md-space);
  border: 1px solid var(--border-color);
  border-radius: 4px;
  -webkit-transition: all .5s ease;
  transition: all .5s ease;
  background: var(--white);
  outline: none;
  color: var(--black-primary);
  font-size: var(--sm-fs);
  padding: 10px 35px;
}

.footer-container .first-footer form input:hover {
  -webkit-box-shadow: var(--primary-shadow);
          box-shadow: var(--primary-shadow);
}

.footer-container .first-footer form i {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.footer-container .first-footer form i:first-child {
  left: 10px;
}

.footer-container .first-footer form i:last-child {
  right: 10px;
}

.footer-container a {
  color: var(--black-primary) !important;
}

.container--header {
  margin-top: 120px;
  text-align: center;
}

.container--header h3 {
  padding-bottom: var(--space);
  font-size: 40px;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 1px;
}

.container--header i {
  margin: 0 var(--md-space);
  font-size: var(--sm-fs);
}

.container--header a {
  text-transform: uppercase;
  font-size: var(--md-fs);
  font-weight: bold;
  color: var(--light-gray);
  -webkit-transition: all 0.35s ease;
  transition: all 0.35s ease;
}

.container--header a:hover {
  color: var(--black-primary);
}

.pagination_items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: var(--lg-space);
  list-style: none;
}

.pagination_items a {
  text-decoration: none;
  color: var(--black-primary) !important;
}

.pagination_items li {
  width: 40px;
  height: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-shadow: var(--primary-shadow);
          box-shadow: var(--primary-shadow);
  border-radius: 50%;
  font-size: var(--lg-fs);
  margin-right: 20px;
  background: var(--white);
  font-weight: bold;
  -webkit-transition: all 0.35s ease;
  transition: all 0.35s ease;
}

.pagination_items li:last-child {
  margin-right: 0;
}

.pagination_items li a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
  width: 100%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.pagination_items li:hover {
  background: var(--brown);
}

.pagination_items li:hover a {
  color: var(--white) !important;
}

.cart-container {
  -webkit-transition: all 0.75s cubic-bezier(0.445, 0.05, 0.55, 0.95);
  transition: all 0.75s cubic-bezier(0.445, 0.05, 0.55, 0.95);
  -webkit-transform: translateX(100%);
          transform: translateX(100%);
  opacity: 0;
  position: fixed;
  top: 0;
  right: 0;
  width: 35%;
  background: var(--white);
  z-index: 104;
  -webkit-box-shadow: var(--primary-shadow);
          box-shadow: var(--primary-shadow);
  height: 100vh;
}

.cart-container h3 {
  font-size: 22px;
  font-weight: bold;
  border-bottom: 1px solid var(--border-color);
  padding: var(--md-space) var(--md-space);
  margin: 0;
}

.cart-container img {
  width: 100%;
  height: auto;
  border-radius: 10px;
  width: 100px;
  height: 100px;
}

.cart-container .cart-item {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(100px, 1fr))[auto-fill];
      grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
  gap: var(--md-space);
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  border-bottom: 1px solid var(--border-color);
  padding-bottom: 30px;
}

.cart-container .cart-item:last-child {
  border-bottom: none;
  padding-bottom: 0;
}

.cart-container .close--cart {
  width: 40px;
  height: 40px;
  position: absolute;
  right: 20px;
  top: 20px;
  font-size: 25px;
  cursor: pointer;
}

.cart-container .items-in-cart {
  height: 85vh;
  overflow-y: scroll;
  padding: var(--md-space);
}

.cart-container .cart-options {
  grid-column: 2/-1;
  line-height: 40px;
}

.cart-container .cart-options p {
  margin: 0;
}

.cart-container .cart-options a {
  color: var(--black-primary) !important;
  font-weight: bold;
  font-size: var(--md-fs);
}

.cart-container .cart-options p {
  font-size: var(--sm-fs);
  font-weight: var(--weight-700);
}

.cart-container .cart-options .change-quantity {
  padding-left: var(--md-space);
}

.cart-container .cart-options .change-quantity div {
  width: 35px;
  height: 35px;
  font-size: var(--md-fs);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: rgba(0, 0, 0, 0.1);
  cursor: pointer;
}

.cart-container .cart-options span {
  width: 30px;
  height: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
  position: absolute;
  right: 0;
  bottom: 35px;
}

.btn-checkout button {
  padding: 20px 30px;
  border-radius: 0;
}

.cart-container-back {
  -webkit-transform: translateX(0);
          transform: translateX(0);
  opacity: 1;
}

@media screen and (max-width: 991px) {
  .nav--main .hamburger {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .nav--main .middle--nav {
    position: fixed;
    top: 0;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start !important;
        -ms-flex-align: start !important;
            align-items: flex-start !important;
    left: 0;
    padding: var(--large-size);
    background: var(--white);
    z-index: 103;
    width: 50%;
    height: 100%;
    -webkit-box-shadow: var(--secondary-shadow);
            box-shadow: var(--secondary-shadow);
    -webkit-transition: all 0.75s ease-in-out;
    transition: all 0.75s ease-in-out;
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%);
  }
  .nav--main .middle--nav li {
    margin-left: 0;
    margin-bottom: 30px;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
    opacity: 0;
  }
  .nav--main .middle--nav li:nth-of-type(n) {
    -webkit-transition-delay: 0.5s;
            transition-delay: 0.5s;
  }
  .nav--main .close--btn {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position: absolute;
    right: var(--medium-size);
    top: var(--small-size);
    font-size: var(--lg-fs);
    width: var(--medium-size);
    height: var(--medium-size);
    color: var(--black-primary);
    cursor: pointer;
  }
  .nav--main .middle--nav--back {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  .nav--main .middle--nav--back li {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    opacity: 1;
  }
  .footer-container {
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
  }
  .cart-container {
    width: 50%;
  }
}

@media screen and (max-width: 768px) {
  .nav--main .options--nav li {
    margin-left: 10px !important;
  }
  .cart-container {
    width: 80%;
  }
}

@media screen and (max-width: 576px) {
  .footer-container {
    display: block;
  }
  .footer-container ul {
    padding-top: 30px;
  }
  .cart-container {
    width: 100%;
  }
  .cart-container .cart-item {
    -ms-grid-columns: (minmax(100px, 1fr))[auto-fill];
        grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
  }
}
/*# sourceMappingURL=main.css.map */