:root {
  --white: #fff;
  --black-primary: #000000;
  --brown: #c67d4e;
  --border-color: #ddd;
  --light-gray: #666666;
  --xs-fs: 12px;
  --sm-fs: 14px;
  --md-fs: 16px;
  --lg-fs: 18px;
  --fs-heading: 40px;
  --sm-space: 15px;
  --md-space: 20px;
  --lg-space: 25px;
  --space: 40px;
  --space: 80px;
  --space-bottom: 70px;
  --weight-700: 700;
  --weight-800: 800;
  --weight-900: 900;
  --small-size: 20px;
  --medium-size: 30px;
  --large-size: 40px;
  --primary-shadow: 0px 2px 8px rgba(0, 0, 0, .16);
  --secondary-shadow: 0px 20px 40px rgba(0, 0, 0, .2);
  --footer-background: #fbf5ef;
}

.success-animation {
  margin: 100px auto;
}

.checkmark {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  display: block;
  stroke-width: 2;
  stroke: #4bb71b;
  stroke-miterlimit: 10;
  -webkit-box-shadow: inset 0px 0px 0px #4bb71b;
          box-shadow: inset 0px 0px 0px #4bb71b;
  -webkit-animation: fill .4s ease-in-out .4s forwards, scale .3s ease-in-out .9s both;
          animation: fill .4s ease-in-out .4s forwards, scale .3s ease-in-out .9s both;
  position: relative;
  top: 5px;
  right: 5px;
  margin: 0 auto;
  position: relative;
  z-index: 10;
}

.checkmark__circle {
  stroke-dasharray: 166;
  stroke-dashoffset: 166;
  stroke-width: 2;
  stroke-miterlimit: 10;
  stroke: #4bb71b;
  fill: var(--white);
  -webkit-animation: stroke 0.6s cubic-bezier(0.65, 0, 0.45, 1) forwards;
          animation: stroke 0.6s cubic-bezier(0.65, 0, 0.45, 1) forwards;
}

.checkmark__check {
  -webkit-transform-origin: 50% 50%;
          transform-origin: 50% 50%;
  stroke-dasharray: 48;
  stroke-dashoffset: 48;
  -webkit-animation: stroke 0.3s cubic-bezier(0.65, 0, 0.45, 1) 0.8s forwards;
          animation: stroke 0.3s cubic-bezier(0.65, 0, 0.45, 1) 0.8s forwards;
}

.main-container {
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
}

.main-container::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: var(--footer-background);
  -webkit-transform: skewY(8deg);
          transform: skewY(8deg);
  -webkit-transform-origin: 100%;
          transform-origin: 100%;
  z-index: 2;
}

.container-message {
  line-height: 40px;
  position: relative;
  z-index: 3;
}

.container-message h3 {
  padding-bottom: var(--lg-space);
  text-transform: capitalize;
  font-weight: bold;
  font-size: 30px;
  letter-spacing: 1px;
}

.container-message p {
  margin-bottom: 0;
  font-size: var(--md-fs);
  font-weight: var(--weight-700);
}

@-webkit-keyframes stroke {
  100% {
    stroke-dashoffset: 0;
  }
}

@keyframes stroke {
  100% {
    stroke-dashoffset: 0;
  }
}

@-webkit-keyframes scale {
  0%, 100% {
    -webkit-transform: none;
            transform: none;
  }
  50% {
    -webkit-transform: scale3d(1.1, 1.1, 1);
            transform: scale3d(1.1, 1.1, 1);
  }
}

@keyframes scale {
  0%, 100% {
    -webkit-transform: none;
            transform: none;
  }
  50% {
    -webkit-transform: scale3d(1.1, 1.1, 1);
            transform: scale3d(1.1, 1.1, 1);
  }
}
/*# sourceMappingURL=success-order.css.map */